<%= form_for @artifact, :html => { :class => "form-horizontal artifact" } do |f| %>

<<<<<<< HEAD
    <% if @artifact.errors.any? %>
=======
  <% if @artifact.errors.any? %>
>>>>>>> ac88b1ce3a024e80a257d71624d22e1b8e57a03d
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@artifact.errors.count, "error") %> prohibited this artifact from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @artifact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<<<<<<< HEAD
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :upload, value: 'File to upload', :class => 'control-label' %>
    <div class="controls">
=======
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :upload, value: 'File to upload', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
>>>>>>> ac88b1ce3a024e80a257d71624d22e1b8e57a03d
      <%= f.file_field :upload, :class => 'form-control' %>
    </div>
  </div>
  <%= f.hidden_field :project_id %>
<<<<<<< HEAD
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            tenant_project_path(tenant_id: Tenant.current_tenant_id, 
                                id: @artifact.project_id), :class => 'btn btn-default' %>
=======

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tenant_project_path(tenant_id: Tenant.current_tenant_id, id: @artifact.project_id), :class => 'btn btn-default' %>
    </div>
  </div>
>>>>>>> ac88b1ce3a024e80a257d71624d22e1b8e57a03d

<% end %>
